body {
  background-color: #ddcc55;
  color: #000000;
}

.menu,
address {
  font-family: Verdana, "Ubuntu";
}

.principal {
  font-family: "Lucida Bright", "Liberation";
}

a:link, a:visited {
  color: #222222;
}
