body {
  background-color: #ddcc55;
  color: #000000;
  font-size: 16px;
}

body,
.apres {
  font-family: "stoke", "Lucida Bright", "liberation";
}

.ender,
nav {
  font-family: "karla", "verdana", "ubuntu";
}

header {
  display: block;
  margin-bottom: 1px;
}

nav {
  display: block;
  width: 20%;
  float: left;
}

section {
  display: block;
  width: 70%;
  float: right;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #222222;
}

ol,
ul {
  line-height: 200%;
}

.ender {
  float: right;
  text-align: right;
  line-height: 140%;
  font-size: 14px;
}

.imgLogo {
  border-bottom: 3px solid #222222;
  margin-bottom: 6px;
  padding-bottom: 15px;
  color: #222222;
}

.apres {
  text-align: center;
  font-size: 16px;
}

nav ul {
  color: #000000;
  line-height: 230%;
  margin-top: 40px;
  list-style-type: square;
}

/* atividade 3 - Planos */

.título {
  text-align: center;
}

.listaPlano {
  width: 300px;
  color: #202020;
  background-color: #eeeebb;
  font-size: 12px;
  padding: 10px 10px 10px 30px;
  border: 3px solid #202020;
  margin: 0px auto 10px auto;
  list-style-type: square;
}

.listaPlano ul {
  list-style-type: square;
}

h4 {
  font-size: 14px;
}

.listPlano ol {
  color: #202020;
  list-style-type: lower-alpha;
}

.preco {
  color: #cc0000;
}

/* atividade 4 - Equipamentos */

.tabEquip {
  border: 1px solid;
  border-collapse: separate;
  width: 510px;
  margin-bottom: 10px;
  font-size: 14px;
}

.tabTitulo {
  background-color: #402020;
  color: #ffffff;
}

.tabSubTit {
  background-color: #802020 !important;
  color: #ffffff;
}

.tabEquip th {
  border: 1px solid;
  padding: 10px;
}

.tabEquip td {
  border: 1px solid;
  padding: 10px;
  font-size: 12px;
  background-color: #EEEEBB;
}

.tabEquip .imgCel {
  width: 100px;
  background-color: #FFFFFF;
}

.imgCel img {
  width: 100px;
  height: 100px;
}
