/* atividade 2 */
body {
  background-color: #ddcc55;
  color: #000000;
  font-size: 16px;
}

body,
.apres {
  font-family: "stoke", "Lucida Bright", "liberation";
}

.ender,
nav {
  font-family: "karla", "verdana", "ubuntu";
}

header {
  display: block;
  margin-bottom: 1px;
}

nav {
  display: block;
  width: 20%;
  float: left;
}

section {
  display: block;
  width: 70%;
  float: right;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #222222;
}

ol,
ul {
  line-height: 200%;
}

.ender {
  float: right;
  text-align: right;
  line-height: 140%;
  font-size: 14px;
}

.imgLogo {
  border-bottom: 3px solid #222222;
  margin-bottom: 6px;
  padding-bottom: 15px;
}

.apres {
  text-align: center;
  font-size: 16px;
}

nav ul {
  color: #000000;
  line-height: 230%;
  margin-top: 40px;
  list-style-type: square;
}

/* atividade 3 - Planos */

section .título {
  text-align: center;
}

section .listaPlano {
  width: 300px;
  color: #202020;
  background-color: #EEEEBB;
  font-size: 12px;
  padding: 10px 10px 10px 30px;
  border: 3px solid #202020;
  margin: 0px auto 10px auto;
  list-style-type: square;
  text-align: left;
}

section h4 {
  font-size: 14px;
}

section .listPlano ol {
  color: #202020;
  list-style-type: lower-alpha;
}

section .preco {
  color: #CC0000;
}

/* atividade 4 - Equipamentos */

section .tabEquip {
  margin: auto;
  border: 1px solid;
  border-collapse: separate;
  width: 510px;
  margin-bottom: 10px;
  font-size: 14px;
}

section .tabTitulo {
  background-color: #402020;
  color: #FFFFFF;
}

section .tabSubTit {
  background-color: #802020 !important;
  color: #FFFFFF;
}

section .tabEquip th {
  border: 1px solid;
  padding: 10px;
}

section .tabEquip td {
  border: 1px solid;
  padding: 10px;
  font-size: 12px;
  background-color: #EEEEBB;
}

section .tabEquip .imgCel {
  width: 100px;
  background-color: #FFFFFF;
}

section .imgCel img {
  width: 100px;
  height: 100px;
}

/* atividade 5 - Inscrição */

.formul {
  width: 400px;
  padding: auto 20px;
  margin: 0px auto 10px auto;
  color: #202020;
  background-color: #eeeebb;
  border: 3px solid #202020;
  font-size: 12px;
}

.fsPessoal {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.fsGenero {
  float: right;
  margin: 10px 10px auto auto;
}

.fsCartao {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.linhaNome {
  height: 30px;
  width: 340px;
  padding-top: 8px;
}

.linhaDados {
  height: 130px;
  width: 340px;
}

.ColDirMat {
  float: right;
}

.ColEsqPes {
  width: 70px;
  float: left;
  display: block;
}

.ColLabCrd {
  width: 270px;
  height: 30px;
  text-align: left;
  float: left;
}

.ColValTot {
  width: 220px;
  text-align: left;
  float: left;
  display: block;
}

.entDireita {
  margin-top: 20px;
  float: right;
}

.inpNome {
  width: 220px;
}

.numDD {
  width: 35px;
}

.numQD {
  width: 50px;
}

.inpNCC {
  width: 130px;
}

.inpTelef {
  width: 90px;
}

.inpMat {
  width: 70px;
}

.inpVal {
  width: 50px;
}
